{% extends 'main/layout.html.twig' %}

{% trans_default_domain 'design' %}

{% block title  "title"|trans ~ " | YannLo" %}

{% block main %}
<section class='w-full flex flex-col max-w-7xl mx-auto items-center gap-16 py-24 px-6 md:px-20 xl:px-0 lg:py-32 '>
    <div class="w-full flex flex-col gap-8">
        <h2 class="font-bold text-4xl center leading-tight text-center capitalize sm:leading-tight sm:text-5xl" >{{ "title" |trans }}</h2>
        <p >{{ "description" |trans }}</p>
    </div>
    <div class="w-full flex flex-col gap-4">
        {{ include('main/assets/components/_filter.html.twig') }}
        <div class="w-full flex flex-col gap-8">
            <div  class="w-full items-start flex min-h-[70vh] flex-row flex-wrap justify-evenly gap-16 md:justify-start">
            {% for design in designs %}
                {{ include('main/assets/components/_design.html.twig', {design: design}) }}
            {% endfor %}
            </div>
            {{ include('main/assets/components/_pagination.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}
