{% extends 'main/layout.html.twig' %}

{% trans_default_domain 'index' %}

{% block title "title"|trans ~ " | YannLo" %}


{% block main %}

<section class='w-full py-24 px-6 max-w-7xl mx-auto grid grid-cols-1 md:px-20 2xl:px-0 lg:grid-cols-basic lg:py-32 lg:gap-x-16'>
    <div class="flex flex-col gap-2 mb-8 md:col-start-1 md:col-end-2">
        <span class="font-medium text-3xl sm:text-4xl">{{ "hero.present" |trans }}</span>
        <h1 class="font-bold text-4xl sm:text-5xl">
            <span class="inline-block w-full pb-2">{{ "hero.job.dev" |trans }}</span>
            <span class="inline-block w-full">{{ "hero.job.design" |trans }}</span>
        </h1>
    </div>
    <img data-image-with-theme class="mb-8 mx-auto md:my-auto md:row-span-4" src="{{ asset(image_with_theme('illustrations/presentation_programming.png')) }}" alt="A man who developpes a web site.">
    <p class="text-xl leading-8 mb-12 md:mb-8 md:col-start-1 md:col-end-2">
        {{ "hero.description" |trans }}
    </p>
    <a class="btn btn--secondary w-fit mx-auto md:col-start-1 md:col-end-2" href="{{ path('app_about',{'_locale': app.locale, "_fragment": "profil" }) }}">{{ "hero.cta" |trans }}</a>
</section>
<section class='w-full flex flex-col max-w-7xl mx-auto items-center gap-16 py-24 px-6 md:px-20 xl:px-0 lg:py-32 '>
    <h2 class="font-bold text-4xl capitalize sm:text-5xl" >{{ "skill.title" |trans }}</h2>
    <div class="w-full flex flex-col gap-10 md:gap-16">
        <h3 class="font-medium text-3xl sm:text-4xl">{{ "skill.dev.title" |trans }}</h3>
        <div class="w-full flex flex-col gap-10 md:flex-row">
            <div class="w-full flex flex-col gap-5 md:max-w-xl">
                <img data-image-with-theme class="mx-auto" src="{{ asset(image_with_theme('illustrations/development.png')) }}" alt="Illutration to show the development process">
                <p>{{ "skill.dev.description" |trans }}</p>
            </div>
            <div class="w-full flex flex-col gap-10 md:max-w-3xl">
                <div class="flex flex-col gap-8">
                {% for skill in dev_skills %}
                    {{ include('main/assets/components/_skill.html.twig', {skill: skill}) }}
                {% endfor %}
                </div>
                <a class="btn btn--primary mx-auto" href="{{ path('app_about',{'_locale': app.locale, "_fragment": "web-development" }) }}">{{ "skill.btn" |trans }}</a>
            </div>
        </div>
    </div>
    <div class="w-full flex flex-col gap-10 md:gap-16">
        <h3 class="font-medium text-3xl sm:text-4xl">{{ "skill.design.title" |trans }}</h3>
        <div class="w-full flex flex-col gap-10 md:flex-row">
            <div class="w-full flex flex-col gap-5 md:max-w-xl">
                <img data-image-with-theme class="mx-auto" src="{{ asset(image_with_theme('illustrations/design.png')) }}" alt="Illutration to show the development process">
                <p>{{ "skill.design.description" |trans }}</p>
            </div>
            <div class="w-full flex flex-col gap-10 md:max-w-3xl md:gap-16">
                <div class="flex flex-col gap-8">
                {% for skill in design_skills %}
                    {{ include('main/assets/components/_skill.html.twig', {skill: skill}) }}
                {% endfor %}
                </div>
                <a class="btn btn--primary mx-auto" href="{{ path('app_about',{'_locale': app.locale, "_fragment": "web-design" }) }}">{{ "skill.btn" |trans }}</a>
            </div>
        </div>
    </div>
</section>

<section class='w-full flex flex-col max-w-7xl mx-auto gap-12 py-24 px-6 md:px-20 xl:px-0 lg:py-32 '>
    <h2 class="font-bold capitalize text-center text-4xl sm:text-5xl" >{{ "project.title" |trans }}</h2>
    <p>{{ "project.description" |trans }}</p>
    <div  class="w-full flex flex-row flex-wrap justify-evenly gap-16 md:justify-between">
    {% for project in projects %}
        {{ include('main/assets/components/_project.html.twig', {project: project}) }}
    {% endfor %}
    </div>
</section>

{% endblock %}
