{% extends 'main/layout.html.twig' %}

{% trans_default_domain 'project' %}

{% block title  "title"|trans ~ " | YannLo" %}

{% block main %}
<section class='w-full flex flex-col max-w-7xl mx-auto items-center gap-16 py-24 px-6 md:px-20 xl:px-0 lg:py-32 '>
    <div class="w-full flex flex-col gap-8">
        <h1 class="font-bold text-4xl center leading-tight text-center capitalize sm:leading-tight sm:text-5xl" >{{ "title" |trans }}</h1>
        <p >{{ "description" |trans }}</p>
    </div>
    <div class="w-full flex flex-col gap-4">
        {# <div class="w-full flex flex-col gap-2 px-2 py-3 border-b-2 border-black dark:border-white" >
            <button class=" w-fit rounded-full flex flex-row items-center gap-2 px-2 py-1 transition-colors duration-300 active:transition-none bg-gray-light hover:bg-gray active:bg-gray-light dark:bg-gray-dark dark:hover:bg-gray-dark/70 dark:active:bg-gray-dark dark:active:transition-none">
                <span>filtrer</span>
                <svg class="w-5 h-5 fill-black dark:fill-white" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.625 5.625C0.625 5.27982 0.904822 5 1.25 5H18.75C19.0952 5 19.375 5.27982 19.375 5.625C19.375 5.97018 19.0952 6.25 18.75 6.25H1.25C0.904822 6.25 0.625 5.97018 0.625 5.625ZM3.75 10C3.75 9.65482 4.02982 9.375 4.375 9.375H15.625C15.9702 9.375 16.25 9.65482 16.25 10C16.25 10.3452 15.9702 10.625 15.625 10.625H4.375C4.02982 10.625 3.75 10.3452 3.75 10ZM7.5 14.375C7.5 14.0298 7.77982 13.75 8.125 13.75H11.875C12.2202 13.75 12.5 14.0298 12.5 14.375C12.5 14.7202 12.2202 15 11.875 15H8.125C7.77982 15 7.5 14.7202 7.5 14.375Z"/>
                </svg>
            </button>
        </div> #}
        <div class="w-full flex flex-col gap-8">
            <div  class="w-full items-start flex min-h-[70vh] flex-row flex-wrap justify-evenly gap-16 md:justify-start">
            {% for project in projects %}
                {{ include('main/assets/components/_project.html.twig', {project: project}) }}
            {% endfor %}
            </div>
            <div class="flex flex-row justify-between items-center">
                <button class="btn btn--secondary-disable" disabled href="{{ path('app_about',{'_locale': app.locale }) }}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.233 4.4545C12.6723 4.89384 12.6723 5.60616 12.233 6.0455L7.40349 10.875H19.3125C19.9338 10.875 20.4375 11.3787 20.4375 12C20.4375 12.6213 19.9338 13.125 19.3125 13.125H7.40349L12.233 17.9545C12.6723 18.3938 12.6723 19.1062 12.233 19.5455C11.7937 19.9848 11.0813 19.9848 10.642 19.5455L3.892 12.7955C3.45267 12.3562 3.45267 11.6438 3.892 11.2045L10.642 4.4545C11.0813 4.01517 11.7937 4.01517 12.233 4.4545Z"/>
                    </svg>
                    <span class="hidden sm:inline-block">Précedent</span>
                </button>
                <ul>
                    <li><span class="text-red dark:text-yellow text-xl ">1</span></li>
                </ul>
                <button class="btn btn--secondary-disable" disabled href="{{ path('app_about',{'_locale': app.locale }) }}">
                    <span class="hidden sm:inline-block">Suivant</span>
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.767 4.4545C12.2063 4.01517 12.9187 4.01517 13.358 4.4545L20.108 11.2045C20.5473 11.6438 20.5473 12.3562 20.108 12.7955L13.358 19.5455C12.9187 19.9848 12.2063 19.9848 11.767 19.5455C11.3277 19.1062 11.3277 18.3938 11.767 17.9545L16.5965 13.125H4.6875C4.06618 13.125 3.5625 12.6213 3.5625 12C3.5625 11.3787 4.06618 10.875 4.6875 10.875H16.5965L11.767 6.0455C11.3277 5.60616 11.3277 4.89384 11.767 4.4545Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
